body{
    font-family: arial;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

h1{
    color:antiquewhite;
}

.product-card{
    border: 1px solid#ccc;
    padding: 10px;
    margin: 10px 0;
}

.blog-card{
    border: 1px solid#ccc;
    padding: 10px;
    margin: 10px 0;
}